<div ng-controller="UpdateVesselCtrl as uvc">
    <h1>Update Vessel</h1>

    <form id="UpdateVesselForm" name="UpdateVesselForm" class="form-horizontal" role="form"
          ng-submit="uvc.updateVessel()">
        <legend class="sm-col-12">Basic Information</legend>

        <div class="form-group">
            <label id="lbl_name" for="name" class="col-sm-4 control-label">Name</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="name" id="name" placeholder=""
                       ng-model="uvc.Vessel.name">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_width" for="width" class="col-sm-4 control-label">Width</label>

            <div class="col-sm-8">
                <input type="number" step="0.01" class="form-control" name="width" id="width" placeholder=""
                       ng-model="uvc.Vessel.width">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_length" for="length" class="col-sm-4 control-label"
                   is-required="CreateVesselForm.length">Length</label>

            <div class="col-sm-8">
                <input type="number" step="0.01" class="form-control" name="length" id="length"
                       ng-model="uvc.Vessel.length">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_draft" for="draft" class="col-sm-4 control-label"
                   is-required="CreateVesselForm.draft">Draft</label>

            <div class="col-sm-8">
                <input type="number" step="0.01" class="form-control" name="draft" id="draft"
                       ng-model="uvc.Vessel.draft">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_latitude" for="latitude" class="col-sm-4 control-label"
                   is-required="CreateVesselForm.latitude">Last seen coordinates(latitude)</label>

            <div class="col-sm-8">
                <input type="number" step="0.01" class="form-control" name="latitude" id="latitude"
                       ng-model="uvc.Vessel.coordinates.latitude">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_longitude" for="longitude" class="col-sm-4 control-label"
                   is-required="CreateVesselForm.longitude">Last seen coordinates(longitude)</label>

            <div class="col-sm-8">
                <input type="number" step="0.01" class="form-control" name="longitude" id="longitude"
                       ng-model="uvc.Vessel.coordinates.longitude">
            </div>
        </div>

        <pre>{{ uvc.Vessel | json }}</pre>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <a ng-href="/#/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                <button type="submit" class="btn btn-success" id="btn_create">Update Vessel</button>
            </div>
        </div>


    </form>
</div>

