

    <div ng-controller="VesselCtrl as vc">
        <div class="jumbotron">
            <h2>Vessels application</h2>
        </div>

        <div>
            <div class="form-group">
                <h3>
                    Vessels
                    <a ng-href="/#/vessels/create" class="btn btn-primary pull-right" id="btn_Vessel_create">Add Vessel</a>
                </h3>
                <hr>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Vessels...">
                <hr>
            </div>


            <table id="Vessel_list" class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Width</th>
                    <th>Length</th>
                    <th>Draft</th>
                    <th>Last Latitude</th>
                    <th>Last Longitude</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="v in vc.Vessels | filter:searchText">
                    <td>
                        {{ v.name }}
                    </td>
                    <td>
                        {{ v.width }}
                    </td>
                    <td>
                        {{ v.length }}
                    </td>
                    <td>
                        {{ v.draft }}
                    </td>
                    <td>
                        {{ v.coordinates.latitude }}
                    </td>
                    <td>
                        {{ v.coordinates.longitude }}
                    </td>
                    <td>
                        <a ng-href="/#/vessels/edit/{{v.name}}" class="btn btn-svccess pull-right" id="btn_Vessel_update">Edit Vessel</a>
                        <a ng-really-message="Are you sure?" ng-click="vc.list()" class="btn btn-error pull-right" id="btn_Vessel_delete">Delete Vessel</a>
                    </td>
                </tr>
                <tr ng-hide="vc.Vessels.length">
                    <td colspan="6">
                        <p class="text-center">No Vessels Found</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <h3>
                Debug
            </h3>
            <hr>
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <pre>{{ vc.Vessels | json }}</pre>
                </accordion-group>
            </accordion>
        </div>

    </div>
